<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="jumbotro">
				<h2>Welcome {{userName}}!</h2>
				<h3>Details: </h3>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th scope="row">Details</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-active">
							<th scope="row">Name</th>
							<td>{{userName}}</td>
						</tr>

						<tr class="table-success">
							<th scope="row">Email ID</th>
							<td>{{userEmail}}</td>
						</tr>

						<tr class="table-info">
							<th scope="row">Birthday</th>
							<td>{{userBirthday}}</td>
						</tr>

						<tr class="table-warning">
							<th scope="row">Organization</th>
							<td>{{organization}}</td>
						</tr>

						<tr class="table-bark">
							<th scope="row">Contact</th>
							<td>{{contactNo}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>